

<div class="modal-container" id="modal-container">
  <div class="modal">
    <form class="signup-form">]
      <button id="sign-up">signup</button>
      <div>
        <label for="username-signup">Username:</label>
        <input type="text" id="username-signup" />
      </div>
      <div>
        <label for="email-signup">Email:</label>
        <input type="text" id="email-signup" />
      </div>
      <div>
        <label for="password-signup">Password:</label>
        <input type="password" id="password-signup" />
      </div>
      <div>
        <button type="submit">Signup</button>
        <a href="/views/login.handlebars">Login!</a>
      </div>
    </form>
  </div>
</div>

<script src="/javascript/signup.js"></script>